@tailwind base;
@tailwind components;
@tailwind utilities;

.square-bg {
  background: conic-gradient(
      from 90deg at 1px 1px,
      #68656500 90deg,

      #c0c0c053 0
    )
    0 0/120px 120px;
  background-position: center;
}

.square-bg::after   { 
    background-image: radial-gradient(at 40% 40%, rgb(30, 144, 255) 0px, transparent 50%), radial-gradient(at 90% 10%, rgb(255, 105, 180) 0px, transparent 50%), radial-gradient(at 50% 95%, rgb(0, 255, 255) 0px, transparent 50%), radial-gradient(at 20% 30%, rgb(50, 205, 50) 0px, transparent 50%), radial-gradient(at 90% 90%, rgb(255, 255, 0) 0px, transparent 50%), radial-gradient(at 33% 50%, rgb(255, 69, 0) 0px, transparent 50%), radial-gradient(at 79% 53%, rgb(128, 0, 128) 0px, transparent 50%);
    position: fixed;
    content: "";
    z-index: -1;
    width: 100vw;
    height: 100vh;
    filter: blur(100px) saturate(100%);
    top: 0px;
    opacity: 0.1;
    transform: translateZ(0px);
}

.click-effect:active {
  opacity: 0.9;
  transform: translateY(2px);
  transform: scale(0.95);
}

.underline-effect {
  position: relative;
  text-decoration: none;
}

.underline-effect::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline-effect:hover::before {
  transform: scaleX(1);
}
